html
  height 100%
body
  height 100%
  width 100%
  margin 0
  padding 0
  display flex
  flex-direction column
  justify-content space-between
  align-items center
.screen
  height 80%
  min-height 300px
  width 100%
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  overflow auto
.menu
  height 20%
  min-height 100px
  width 100%
  display flex
  justify-content center
  align-items center
.headband
  height 95%
  min-height 200px
  width 95%
  margin-top 10px
  display flex
  flex-direction column
  justify-content flex-start
  align-items center
  font-size 20px
  background-color rgba(0, 0, 0, 0.2)
  box-shadow 0 0 50px
  cursor pointer
.headband:hover
  box-shadow 0 0 20px
.headband:active
  box-shadow 0 0 10px
.entry-field
  height 70%
  min-height 200px
  width 70%
  margin 30px 0
  padding 10px
  font-size 20px
  border 5px solid #0000AA
  box-shadow 0 0 50px
  cursor text
  overflow auto
  outline none
  resize: none
.show-result
  height 70%
  min-height 200px
  width 70%
  margin 30px 0
  padding 0 20px
  font-size 20px
  box-shadow 0 0 50px
  overflow auto
.button
  cursor pointer
  outline none
.button_single
  margin-bottom 50px
  font-size 50px
  font-weight bold
  text-decoration underline
  color #455ba0
  background-color transparent
  border none
.button_single:hover
  color darkblue
.button_single:active
  color #455ba0
.button_menu
  height 100%
  width auto
  max-width 120px
  margin 2px
  padding 3px
  display flex
  font-size 12px
  background-color transparent
  border-radius 3px